<% provide(:title, "柏レイソル") %>

<div class="blue">
  <h1 class="page_title">柏レイソル</h1>
  <div class="container">
    <div class="create_btn">
      <%= render "create_post" %>
    </div>
    <%= render "shared/posts", posts: @posts %>
  </div>
</div>
