<% provide(:title, '川崎フロンターレ') %>
<h1>川崎フロンターレ</h1>
<%= render 'shared/post_form' %>
<% @posts.each do |aa| %>
  <p><%= link_to aa.content, aa %></p>
<% end %>

<%# <div class="col-md-8">
  <h3>Micropost Feed</h3> %>
  <%#= render 'shared/feed' %>
<%# </div> %>