<% provide(:title, "コンサドーレ札幌") %>

<div class="blue">
  <h1 class="page_title">コンサドーレ札幌</h1>
  <div class="container">
    <div class="create_btn">
      <%= render "create_post" %>
    </div>
    <%= render "shared/posts", current_page_posts: @current_page_posts %>
  </div>
</div>
