<% provide(:title, "ベガルタ仙台") %>

<div class="blue">
  <div class="container">
    <h1 class="page_title">ベガルタ仙台</h1>
    <div class="create_btn">
      <%= render "create_post" %>
    </div>
    <%= render "shared/posts", posts: @posts %>
  </div>
</div>
