<li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Facebook">
  <div class="fb-share-button" data-href="http://52.194.144.238/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F52.194.144.238%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fab fa-facebook icon"></i></a></div>
</li>