<% if user_signed_in? %>
  <%= form_for(@post) do |f| %>
    <span class="picture">
      <%= f.file_field :picture %>
    </span>
    <div class="field">
      <%= f.text_area :content, class: "text_area", placeholder: "Compose new micropost..." %>
    </div>
    <%= f.submit "投稿する", class: "btn btn-primary" %>
  <% end %>
<% end %>