<li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Twitter">
  <div class="twitter">
    <%= link_to "https://twitter.com/share?url=#{request.url}サッカー専用掲示板！", title: 'Twitter', target: '_blank' do %>
    <i class="fab fa-twitter icon"></i>
    <% end %>
  </div>
</li>