@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  flex: 1 1 100%;
  background-color: aquamarine;
  overflow-y: scroll;
}

.center {
  text-align: center;
}

footer {
  margin-top: auto;
}

p {
  font-size: 1.1em;
  color: black;
}

.text_small {
  font-size: 12px;
}

.flash {
  padding: 10px;
}

.pagenate {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 170px;
}

#logo {
  color: white;
  text-decoration: none;
  font-family: 'Lora', serif;
}
// devise
.loginBox {
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  padding: 30px;
  margin-top: 70px;
  background: #ddd;
}

.edit_box {
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  padding: 30px;
  margin-top: 70px;
  background: white;
}

.teamImg {
  height: 160px;
  width: 180px;
  border-radius: 10px;
  // display: block;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
  // transition:1s all;
    &:hover {
    transform: scale(1.1);	/*画像の拡大率*/
    transition-duration: 0.3s;	/*変化に掛かる時間*/
    }
}

.fa-futbol {
  color: #ccc;
}

@media (max-width: 575.98px) {
.teamImg {
  height: 200px;
  width: 280px;
}
}