@import "bootstrap";

/* universal */
// section {
//   overflow: auto;
// }

// textarea {
//   resize: vertical;
// }

// /* typography */

// h1, h2, h3, h4, h5, h6 {
//   line-height: 1;
// }

// h1 {
//   font-size: 3em;
//   letter-spacing: -2px;
//   margin-bottom: 30px;
//   text-align: center;
// }
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


p {
  font-size: 1.1em;
  // line-height: 1.7em;
  color: black;
}

footer {
  margin-top: auto;
}
.flash {
  padding: 10px;
}

.pagenate {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 170px;
}
// devise
.loginBox {
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  padding: 30px;
  margin-top: 70px;
  background: #ddd;
}

.edit_box {
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  padding: 30px;
  margin-top: 70px;
  background: white;
}

.backimg {
  background: image-url('background.jpg');
  background-size: cover;
  background-blend-mode: lighten;
  height: 1000px;
}

