.content {
  font-size: 15px;
  text-align: center;
}

.page_title {
  text-align: center;
  padding: 10px;
  font-family: 'Slabo 27px', serif;
  background-color: lightskyblue;
  margin-bottom: 20px;
}

.search {
  text-align: center;
  padding-bottom: 15px;
}

.post_img {
  height: 160px;
  width: 250px;
}

.post_time {
  font-size: 10px;
  text-align: center;
  color: blueviolet;
}