.content {
  font-size: 15px;
}

.page_title {
  text-align: center;
  padding: 10px;
  font-family: 'Slabo 27px', serif;
  background-color: paleturquoise;
  margin-bottom: 20px;
}

.search {
  text-align: center;
  padding-bottom: 15px;
}