.page_title {
  text-align: center;
  padding: 10px;
  font-family: 'Slabo 27px', serif;
  background-color: paleturquoise;
  margin-bottom: 20px;
  border-bottom: 3px solid #000;
  letter-spacing: 15px;
}

.search {
  text-align: center;
  padding-bottom: 15px;
}

.post_img {
  height: 160px;
  width: 250px;
}

.post_time {
  font-size: 10px;
  text-align: center;
  color: blueviolet;
}

@media (max-width: 575.98px) {
.page_title {
  font-size: 25px;
}
}