@import "bootstrap";

.main-container {
  // background: image-url('background.jpg');
  // background-size:cover;
  // background-color:rgba(255,255,255,0.1);
  // background-blend-mode:lighten;
  background: #76b852;
}

.title {
  text-align: center;
  padding: 50px;
}

.teamImg {
  height: 160px;
  width: 180px;
}

