@import "bootstrap";

.main-container {
  background: #76b852;
}

.title {
  text-align: center;
  padding: 5px;
  margin-bottom: 40px;
  font-family: 'Lora', serif;
  font-size: 50px;
  background-color: paleturquoise;
}



.text_area {
  height: 150px;
  width: 350px;
  margin-top: 10px;
}

.create_btn {
  padding-bottom: 20px;
  text-align: center;
}

.blue {
  background-color: lightskyblue;
}

.footer_title {
  color: #ccc;
  padding-top: 10px;
}

.icon {
  font-size: 20px;
}

.guest_btn {
  padding: 5px 0;
}