<footer class="bg-dark py-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="footer_title">&copy;<%= Time.current.year %> Soccer Fun .</p>
      </div>
      <div class="col-md-4 align-self-center">
        <ul class="list-inline text-center text-md-right mb-0">
          <%= render 'shared/facebook' %>
          <%= render 'shared/twitter' %>
        </ul>
      </div>
    </div>
  </div>
</footer>